<section class="services">

    <div class="container row d-flex justify-content-center align-items-center my-5">

        <div class="col-4" ng-show="!Ctrl.invalidUserData">
            <i class="fas fa-key fa-9x col-12 my-4 d-flex justify-content-center align-items-center"></i>
            <h2 class="d-flex justify-content-center align-items-center my-5  architect-font" style="font-size: 3vmax;">Nowe hasło</h2>

            <form>

                <div class="form-group d-flex justify-content-center">
                    <input type="password" placeholder="Hasło" required="required" ng-model="Ctrl.user.password"><br>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" ng-click="Ctrl.changePassword(Ctrl.user)">Zmień hasło</button>
                </div>

            </form>

        </div>

         <div class="col-4" ng-show="Ctrl.invalidUserData">

             <h1 class="text-center">Nie masz dostępu do tej strony!  {{Ctrl.enterUserData}}</h1>

        </div>

    </div>
</section>
