<section class="services">

    <div class="container row d-flex justify-content-center align-items-center my-5">

        <div class="col-4" >
            <h1 class="text-center">Ustaw nowe hasło dla swojego konta</h1>
            <form>
                <div class="form-group d-flex justify-content-center">
                    <input type="text" placeholder="Login" required="required" ng-model="Ctrl.user.username"><br>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="password" placeholder="Hasło" required="required" ng-model="Ctrl.user.password"><br>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" ng-click="Ctrl.change()">Zmień hasło</button>
                </div>

            </form>

        </div>

    </div>
</section>
