body {
	background-color: rgb(53, 59, 62);
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: rgba(50, 50, 50, 0.75);
}

.navbar {
	min-height: 57px;
	margin-bottom: 30px	;
}

.logo1 {
	max-height: 70px;
	max-width: 60px;
}

.logo2 {
	max-height: 35px;
	max-width: 145px;
}

.bg-navigator {
	background-color: rgba(207, 146, 248, 0.76) !important;
}

ul > li {
	padding-left: 10px;
}

.mapa{
	padding-top: 40px;
	padding-bottom: 40px;
}

header{
	text-align: center;
}
.info{
	font-size: 18px;
	text-align: center;
}

.service{
	background: lavenderblush;
	box-shadow:0 0 15px black;
	text-align: center;
}

.main-font{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 28px;
}
.architect-font{
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 20px;
}
/* footer */

.footer-copyright{
	background: #006d4d;
	margin-left: 0px;
	margin-right: 0px;
}

.page-footer{
	background: #048b60;
	padding-top: 30px
}
footer{
	margin-top: 50px;
}

/* perfum */

.perfume-name{
	padding: 20px;
}
.perfume-description .architect-font{
	font-size: 15px;
}

.perfume-picture{
	overflow: hidden;
	height: 250px;
	margin-top: 10px;
	padding: 10px;
}

.perfume-picture img{
	max-width: 180px;
	transform: scale(2.4) translateY(5%);
}

.perfume-tile{
	margin: 15px;
	padding: 15px;
	background: white;
	color: #000000;
	text-align: center;
	box-shadow:0 0 7px black;
}

.perfume-button {
	padding-top: 20px;
	color: white;
	background: #2F3336;
}

.perfume-action{
	margin-top: 40px;
	margin-bottom: 20px;
}

.btn-warning{
	margin-top: 7px;
}

/* perfum details */

.perfume-details-picture{
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	box-shadow:0 0 15px black;
}

.perfume-details-picture img {
	max-width: 550px;
	height: auto;
	transform: scale(1.5);
}

.perfume-details .collapse .architect-font{
	color: black;
}
.perfume-details h2 button{
	width: 100%;
	margin-top: 20px;
}
.perfume-details-price{
	font-size: 35px;
}
.perfume-details-info{
	margin-top: 20px;
}

.fa-angle-down{
	float:right;
}

/* GALERIA */

.arrow {
  font-size: 2em;
  color: #363f85;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.arrow#left-arrow {
  -webkit-transform: translate(-11em, -50%);
  -moz-transform: translate(-11em, -50%);
  -ms-transform: translate(-11em, -50%);
  -o-transform: translate(-11em, -50%);
  transform: translate(-11em, -50%);
}
.arrow#right-arrow {
  -webkit-transform: translate(10em, -50%);
  -moz-transform: translate(10em, -50%);
  -ms-transform: translate(10em, -50%);
  -o-transform: translate(10em, -50%);
  transform: translate(10em, -50%);
}
.arrow:hover {
  color: #B3B2AD;
}

.slider {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
}

.slide {
  float: left;
  position: relative;
  width: 33.33333%;
  height: 100%;
  overflow-x: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.slide#slide-center {
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.slide-holder {
  width: 300%;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  -webkit-transform: translateX(-33.33333%);
  -moz-transform: translateX(-33.33333%);
  -ms-transform: translateX(-33.33333%);
  -o-transform: translateX(-33.33333%);
  transform: translateX(-33.33333%);
}

.slide-bg {
  width: 33.33333%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0;
}

#slide-left .bg-previous {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Peter_Paul_Rubens_(taller)_-_Rapto_de_las_Sabinas.jpg");
}
#slide-left .bg-current {
  background-image: url("http://images.metmuseum.org/CRDImages/ep/original/46_160.jpg");
}
#slide-left .bg-next {
  background-image: url("http://uploads6.wikiart.org/images/pablo-picasso/the-abduction-of-sabines-1962-1.jpg");
}

#slide-center .bg-previous {
  background-image: url("http://images.metmuseum.org/CRDImages/ep/original/46_160.jpg");
}
#slide-center .bg-current {
  background-image: url("http://uploads6.wikiart.org/images/pablo-picasso/the-abduction-of-sabines-1962-1.jpg");
}
#slide-center .bg-next {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Peter_Paul_Rubens_(taller)_-_Rapto_de_las_Sabinas.jpg");
}

#slide-right .bg-previous {
  background-image: url("http://uploads6.wikiart.org/images/pablo-picasso/the-abduction-of-sabines-1962-1.jpg");
}
#slide-right .bg-current {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Peter_Paul_Rubens_(taller)_-_Rapto_de_las_Sabinas.jpg");
}
#slide-right .bg-next {
	background-image: url("http://images.metmuseum.org/CRDImages/ep/original/46_160.jpg");
}