body {
	background-color: rgb(3, 30, 35);
/*	background-color: rgb(53, 59, 62); */
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: rgba(50, 50, 50, 0.75);
}

.home-page{
	min-height: 500px;
}

.main-section{
	width: 100%;
	height: 200px;
	background: navajowhite;
}

.navbar {
	min-height: 57px;
	margin-bottom: 30px	;
}

.logo1 {
	max-height: 70px;
	max-width: 60px;
}

.logo2 {
	max-height: 35px;
	max-width: 145px;
}

.bg-navigator {
	background-color: rgba(167, 60, 241, 0.76) !important;
}

ul > li {
	padding-left: 10px;
}

.info .main-font{
	text-shadow: black 0.1em 0.1em 0.2em;
}

.painted-banner{
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
}


.mapa{
	padding-top: 40px;
	padding-bottom: 40px;
}

header{
	text-align: center;
}
.info{
	font-size: 18px;
	text-align: center;
}

.service{
	background: lavenderblush;
	box-shadow:0 0 15px black;
	text-align: center;
}

.main-font{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 28px;
}
.architect-font{
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 20px;
}
/* footer */

.footer-copyright{
	background: #4c7f1b;
	margin-left: 0px;
	margin-right: 0px;
}

.page-footer{
	background: #5d9a23;
	padding-top: 30px
}
footer{
	margin-top: 50px;
}

/* perfum */

.perfume-name{
	padding: 20px;
}
.perfume-description .architect-font{
	font-size: 15px;
}

.perfume-picture-15, .perfume-picture-50, .perfume-picture-100{
	overflow: hidden;
	height: 250px;
	margin-top: 10px;
	padding: 10px;
}

.perfume-picture-15 img{
	max-width: 180px;
	transform: scale(2.4) translateY(5%);
}

.perfume-picture-50 img{
	max-width: 180px;
	transform: scale(1.5) translateY(5%);
}

.perfume-picture-100 img{
	max-width: 180px;
	transform: scale(1.5) translateY(5%);
}

.perfume-tile{
	margin: 15px;
	padding: 15px;
	background: white;
	color: #000000;
	text-align: center;
	box-shadow:0 0 7px black;
}

.perfume-tile.ng-enter {
	transition: 0.7s linear all;
	opacity:0;
}

.perfume-tile.ng-enter.ng-enter-active {
	opacity:1;
}

.perfume-tile.ng-leave {
	transition: 0.01s linear all;
	opacity:1;
}

.perfume-tile.ng-leave.ng-leave-active {
	opacity:0;
}

.default-message.ng-enter {
	transition: 1s linear all;
	opacity:0;
	transform: translateY(80%);
}

.default-message.ng-enter.ng-enter-active{
	opacity:1;
	transform: translateY(0);
}

.perfume-button {
	padding-top: 20px;
	color: white;
	background: #2F3336;
}

.perfume-action{
	margin-top: 40px;
	margin-bottom: 20px;
}

.btn-warning{
	margin-top: 7px;
}

.animate-enter, .animate-leave{
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.default-message{
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 65px;
}

/* perfum details */

.perfume-details-picture-15, .perfume-details-picture-50, .perfume-details-picture-100{
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	box-shadow:0 0 15px black;
	background: white;
}

.perfume-details-picture-15 img {
	transform: scale(1.5);
}

.perfume-details-picture-50 img {
	transform: scale(1);
}

.perfume-details-picture-100 img {
	transform: scale(1);
}

.perfume-details .collapse .architect-font{
	color: black;
}
.perfume-details h2 button{
	width: 100%;
	margin-top: 5px;
}
.perfume-details-price{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 40px;
}
.perfume-details-info{
	margin-top: 5px;
}

.fa-angle-down{
	float:right;
}

/* Start */

	/* glowne informacje */

	.main-home-element{
		background: antiquewhite;
		color: black;
		height: 200px;
		width: auto;
		margin-bottom: 30px;
	}

	/* GALERIA */

	.start-gallery{
		margin-top: 110px;
		margin-bottom: 80px;
	}

	.arrow{
		text-align: center;
		font-size: 30px;
	  	color: #363f85;
	}

	.arrow:hover {
	  color: #eeece5;
	}

	.slide{
		overflow: hidden;
		float: left;
		height: 220px;
		max-width: 170px;
	  	border-radius: 50%;
	  	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	}

	.slide#slide-center {
	  z-index: 1;
	  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
	  -webkit-transform: scale(1.3);
	  -moz-transform: scale(1.3);
	  -ms-transform: scale(1.3);
	  -o-transform: scale(1.3);
	  transform: scale(1.3);
	}

	.slide-holder img{
		max-width:100%;
		transform: scale(1.25);
		position: absolute;
	}

	/* sekcja usług */

	.service-section-title{
		background: rgba(250, 219, 174, 0.53);
		height: 200px;
	}
	.service-section-picture {
		height: 200px;
		overflow: hidden;
	}
	.service-section-picture img{
		height: 200px;
	}

	.service-section .main-font{
		text-shadow: black 0.1em 0.1em 0.2em;
	}

	.service-section a:hover{
		color: white;
	}

	/* glowne informacje */

	.main-info{
		height: 300px;
		background: rgba(250, 219, 174, 0.53);
	}

/* Produkty */

	.product-service{
		background: lavenderblush;
		box-shadow:0 0 15px black;
		text-align: center;
	}

	.product-tile.ng-enter {
		transition: 0.5s linear all;
		opacity:0;
	}

	.product-tile.ng-enter.ng-enter-active {
		opacity:1;
	}

	.category-picture{
		margin-top: 10px;
	}
	.category-picture img{
		max-width: 250px;
		padding: 10px;
		pointer-events: none;
	}
	.category-picture p{
		pointer-events: none;
	}

	.category-service :hover{
		transform: scale(0.95);
	}

	.category-default-message{
		margin-top: 100px;
		margin-bottom: 100px;
		font-size: 65px;
	}

	/* product details */

	.product-details-picture{
		background: #eeece5;
		margin-top: 30px;
		margin-bottom: 30px;
		box-shadow:0 0 15px black;
	}

	.product-details-picture img {
		transform: scale(0.9);
	}

	.product-details .collapse .architect-font{
		color: black;
	}
	.product-details h2 button{
		width: 100%;
		margin-top: 5px;
	}
	.product-details-price{
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 40px;
	}
	.product-details-info{	margin-top: 5px;
	}