<header>

    <div ng-show="!authenticated" class="row d-flex justify-content-center align-items-center my-5">
        <i class="far fa-calendar-alt fa-9x my-4 col-12"></i>
        <h2 class="col-8 architect-font d-flex justify-content-center align-items-center my-5" style="font-size: 3vmax;">Zaloguj się lub zarejestruj aby zobaczyć harmonogram wizyt !</h2>
        <a class="col-6 btn btn-success btn-block m-3" ng-href="/login">Logowanie</a>
        <a class="col-6 btn btn-primary btn-block m-3" ng-href="/rejestracja">Rejestracja</a>
    </div>

    <div ng-show="authenticated" class="row my-5 d-flex justify-content-center align-items-center">

        <div class="col-8 row timetable">

            <div class="col-12 row m-3 d-flex justify-content-start align-items-center">

                <button class="col-4 btn btn-dark" ng-click="Ctrl.today()">Dzisiaj</button>
                <input class="mx-3" type="date" ng-model="Ctrl.ownDate" ng-mouseleave="Ctrl.setViewDay(Ctrl.ownDate)">

            </div>

            <div class="col-12 row m-1 d-flex justify-content-center align-items-center">

                <i class="far fa-arrow-alt-circle-left fa-2x" ng-click="Ctrl.prevDay()" ></i>
                <div class="col-6 d-flex justify-content-center align-items-center" style="font-size: 40px"> <b>{{Ctrl.getDayByNumber()}} </b></div>
                <i class="far fa-arrow-alt-circle-right fa-2x" ng-click="Ctrl.nextDay()" ></i>

            </div>

            <div class="col-12 row m-1 d-flex justify-content-center align-items-center">

                <div class="col-6 d-flex justify-content-center align-items-center" style="font-size: 16px"> {{Ctrl.getActualShortDate()}} </div>

            </div>

            <div class="col-12 row timetable-content">

                 <div class="col-2 row timetable-time my-2 d-flex justify-content-end align-items-center">
                     <div class="col-12 timetable-col" ng-repeat="hour in Ctrl.hours"> {{hour}}:00- </div>
                </div>

                <div class="col-9 row timetable-visits ml-2 d-flex justify-content-center">
                    <div class="col-12 move-tile"
                    ng-class="Ctrl.check"
                    ng-if="visit.status === 'WAITING' ? Ctrl.check='waiting-background' : Ctrl.check='accept-background'"
                    ng-repeat="visit in Ctrl.visits | filter : { visitBegin : Ctrl.getActualShortDate()}"
                    ng-style="{height: '{{visit.haircutType.duration*2}}px',top: '{{Ctrl.getMoveVisit(visit)}}px',zIndex: '{{visit.id}}'}">

                        <div class="architect-font d-flex justify-content-start" style="font-size: 21px">{{ visit.haircutType.name }} </div>
                        <div class="architect-font d-flex justify-content-start" style="font-size: 21px"> {{visit.visitBegin.substring(11,16)}} - {{visit.visitEnd.substring(11,16)}}</div>

                    </div>

                </div>

            </div>


        </div>

    </div>

</header>
