<header>

    <div ng-show="!authenticated" class="row d-flex justify-content-center align-items-center my-5">
        <i class="far fa-calendar-alt fa-9x my-4 col-12"></i>
        <h2 class="col-8 architect-font d-flex justify-content-center align-items-center my-5" style="font-size: 3vmax;">Zaloguj się lub zarejestruj aby zobaczyć swoje wizyty !</h2>
        <a class="col-6 btn btn-success btn-block m-3" ng-href="/login">Logowanie</a>
        <a class="col-6 btn btn-primary btn-block m-3" ng-href="/rejestracja">Rejestracja</a>
    </div>

    <div ng-show="authenticated" class="my-5">


        <div ng-show="(Ctrl.visits | filter: {userId: loggedUser.id})[0]" class="row d-flex justify-content-center align-items-center my-5">

            <div class="col-12 d-flex justify-content-center align-items-center my-5 " style="font-size: 4vmax;">Moje wizyty</div>

            <div class="col-12 row d-flex justify-content-center align-items-center py-4">
                <div class="col-2  my-visit-tile architect-font"><b> Dzień </b></div>
                <div class="col-1  my-visit-tile architect-font"><b> Godzina </b></div>
                <div class="col-2  my-visit-tile architect-font"><b> Usługa </b></div>
                <div class="col-4  my-visit-tile architect-font"><b> Informacje dodatkowe </b></div>
                <div class="col-1  my-visit-tile architect-font"><b> Zrezygnuj </b></div>
                <div class="col-1  my-visit-tile architect-font"><b> Szczegóły </b></div>
                <div class="col-1  my-visit-tile architect-font"><b> Status </b></div>
            </div>

            <div class="my-visits col-12 row d-flex justify-content-center align-items-center py-4" ng-repeat="visit in Ctrl.visits | filter: {userId: loggedUser.id}">
                <div class="col-2 my-visit-tile architect-font "> {{visit.visitBegin.toString().substring(0,10)}} </div>
                <div class="col-1 my-visit-tile architect-font"> {{visit.visitBegin.toString().substring(11,16)}} </div>
                <div class="col-2 my-visit-tile architect-font"> {{visit.haircutType.name}} </div>
                <div class="col-4 my-visit-tile architect-font" ng-if="visit.adminInfo !== ''"> {{visit.adminInfo}} </div>
                <div class="col-4 my-visit-tile architect-font" ng-if="visit.adminInfo === ''"> BRAK </div>
                <div class="col-1 my-visit-tile architect-font delete" > <i class="far fa-calendar-minus fa-3x" ng-if="visit.status ==='WAITING'" ng-click="Ctrl.deleteVisit(visit)"></i> </div>
                <div class="col-1 my-visit-tile architect-font delete" > <i class="fas fa-info-circle fa-3x" ng-click=""></i> </div>
                <div class="col-1 my-visit-tile architect-font" ng-if="visit.status === 'WAITING' ? Ctrl.check='waiting' : Ctrl.check='accept'" ng-class="Ctrl.check"> {{visit.status}} </div>
            </div>

        </div>

        <div ng-show="!(Ctrl.visits | filter: {userId: loggedUser.id})[0]" class="row empty-visits d-flex justify-content-center align-items-center my-5">

            <i class="far fa-calendar fa-7x my-5 col-10 d-flex justify-content-center"></i>
            <h2 class="architect-font my-4 col-10 d-flex justify-content-center">Nie posiadasz żadnych wizyt.</h2>
            <p class="architect-font my-4 col-10 d-flex justify-content-center">Wybierz dogodny termin i zapisz się na wizytę już dziś!</p>
            <a class="btn btn-primary col-6 mx-1"  ng-href="/wizyty/zapisz-sie">Zapisz się!</a>

        </div>


    </div>

</header>
