<section class="services">

	<div class="container row d-flex justify-content-center align-items-center my-5">

    	<div class="col-4" ng-show="!authenticated">
 	    	<h1 class="text-center">Logowanie</h1>
 	    	<form>
				<div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Login" required="required" ng-model="Ctrl.credentials.username"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="password" placeholder="hasło" required="required" ng-model="Ctrl.credentials.password"><br>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-click="Ctrl.login()">Zaloguj</button>
				</div>

				<div class="clearfix">
            		<label class="pull-left checkbox-inline"><input type="checkbox"> zapamiętaj mnie</label>
            		<a href="#" class="pull-right">Zapomniałeś hasła?</a>
				</div>

 	    	</form>

			<p class="text-center"><a href="#">Załóż Konto</a></p>

    	</div>

		<div ng-show="authenticated" class="justify-content-center align-items-center my-5">
 			<h1>Czy na pewno chcesz się wylogować?</h1>
 			<a class="btn btn-danger btn-block my-3" ng-click="Ctrl.logout()">Wyloguj</a>
 		</div>

	</div>
</section>
