<section class="services">

	<div class="container row d-flex justify-content-center align-items-center my-5">

    	<div class="col-4" ng-show="!authenticated">
 	    	<h1 class="text-center">Logowanie</h1>
 	    	<form>
				<div class="form-group d-flex justify-content-center">
 		 	    	<input type="email" placeholder="Email" required="required" ng-model="Ctrl.credentials.username"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="password" placeholder="Hasło" required="required" ng-model="Ctrl.credentials.password"><br>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-click="Ctrl.login()">Zaloguj</button>
				</div>

				<div class="clearfix">
            		<a class="text-center" href="/rejestracja">Załóż Konto</a>
            		<a href="/przypomnienie" class="pull-right">Zapomniałeś hasła?</a>
				</div>

 	    	</form>

    	</div>

		<div ng-show="loginError" class="col-10 login-error-background d-flex justify-content-center align-items-center my-3">
			<i class="far fa-2x fa-times-circle login-error-message "></i>
			<div class="login-error-message ml-5">Podany login lub hasło nie jest poprawne.</div>
		</div>

		<div ng-show="authenticated" class="justify-content-center align-items-center my-5">
 			<h1>Czy na pewno chcesz się wylogować?</h1>
 			<a class="btn btn-danger btn-block my-3" ng-click="Ctrl.logout()">Wyloguj</a>
 		</div>

	</div>
</section>
