<section class="services">

	<div class="container row d-flex justify-content-center align-items-center my-5">

    	<div class="col-4">
			<i class="fas fa-user-plus fa-10x my-3 d-flex justify-content-center align-items-center"></i>
 	    	<h2 class="architect-font my-4" style="font-size: 2vmax;">Rejestracja</h2>
 	    	<form>
				<div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Imie" required="required" ng-model="Ctrl.user.firstName"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="text" placeholder="Nazwisko" required="required" ng-model="Ctrl.user.lastName"><br>
				</div>

                <div class="form-group d-flex justify-content-center">
 		 	    	<input type="email" placeholder="Email" required="required"  ng-model="Ctrl.user.email"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="password"  placeholder="Hasło" required="required" ng-model="Ctrl.user.password"><br>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-click="Ctrl.register(Ctrl.user)">Zarejestruj</button>
				</div>

 	    	</form>

    	</div>

		<div ng-show="Ctrl.emailIsAlreadyTaken" class="col-10 alert alert-danger d-flex justify-content-center align-items-center">
				<i class="far fa-2x fa-times-circle"></i>
				<div class="ml-5">Podany adres E-mail jest już zajęty.</div>
		</div>

	</div>

</section>
