<section class="services">

	<div class="container row d-flex justify-content-center align-items-center my-5">

    	<div class="col-4">
 	    	<h2 class="architect-font my-4" style="font-size: 2vmax;">Rezalizaja zamówienia</h2>
 	    	<form>
				<div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Numer telefonu" required="required" ng-model="Ctrl.order.phoneNumber"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="text" placeholder="Miasto" required="required" ng-model="Ctrl.order.city"><br>
				</div>

                <div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Kod pocztowy" required="required"  ng-model="Ctrl.order.zipCode"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="text"  placeholder="Ulica i numer" required="required" ng-model="Ctrl.order.street"><br>
				</div>

                <div class="form-group d-flex justify-content-center">
					<select ng-model='Ctrl.order.deliveryDetails'>
                        <option selected value=0>UPS</option>
                        <option value=1>DPD</option>
                        <option value=2>Poczta Polska</option>
                    </select>
				</div>

                <div class="form-group d-flex justify-content-center">
					<select ng-model='Ctrl.order.shippingDetails' require >
                        <option selected value=0>Przesyłka kurierska pobraniowa</option>
                    </select>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-click="Ctrl.submitOrder(Ctrl.order, loggedUser)">Zamawiam</button>
				</div>

 	    	</form>

			<div ng-show="Ctrl.incorrectData" class="col-10 alert alert-danger d-flex justify-content-center align-items-center m-3">
			    <i class="far fa-2x fa-times-circle"></i>
			    <div class="ml-5">Wprowadzono niepoprawne dane!</div>
		    </div>

    	</div>

	</div>

</section>
