<section class="services">

	<div class="container row d-flex justify-content-center align-items-center my-5">

    	<div class="col-4">
 	    	<h2 class="architect-font my-4" style="font-size: 2vmax;">Rezalizaja zamówienia</h2>
 	    	<form>
				<div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Numer telefonu" required="required" ng-model="Ctrl.order.phoneNumber"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="text" placeholder="Miasto" required="required" ng-model="Ctrl.order.city"><br>
				</div>

                <div class="form-group d-flex justify-content-center">
 		 	    	<input type="text" placeholder="Kod pocztowy" required="required"  ng-model="Ctrl.order.zipCode"><br>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="text"  placeholder="Ulica i numer" required="required" ng-model="Ctrl.order.street"><br>
				</div>

                <div class="form-group d-flex justify-content-center">
					<select ng-model='Ctrl.order.deliveryDetails'>
                        <option value=0 selected>UPS</option>
                        <option value=1>DPD</option>
                        <option value=2>Poczta Polska</option>
                    </select>
				</div>

                <div class="form-group d-flex justify-content-center">
					<select ng-model='Ctrl.order.shippingDetails' require >
                        <option value=0 selected>Przesyłka kurierska pobraniowa</option>
                    </select>
				</div>

                <div class="form-group d-flex justify-content-center">
					<h2 class="architect-font my-4" style="font-size: 2vmax;">CENA Z WYSYŁKĄ:</h2>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-block" ng-click="Ctrl.realizeOrder(Ctrl.order)">Zamawiam</button>
				</div>

 	    	</form>

    	</div>

	</div>

</section>
