<section class="start">

    <div class="container">

<!-- zdjecia --
        <div class="row justify-content-center">
            <div class="rounded col-sm-10 col-lg-4 service m-4 p-4 text-body " ng-repeat="picture in Ctrl.pictures">
                <div class="perfume-picture float-right col-sm-6 "> <img src='{{picture.path}}'/> </div>
            </div>
        </div>
-->


    <div class="row justify-content-center align-items-center mt-5">

            <div class="arrow col-2 "  id="left-arrow"><i class="fa fa-arrow-circle-o-left" ng-click="Ctrl.prevPicture()"></i></div>

            <div class="slider col-8">

                <div class="row justify-content-center align-items-center">

                    <div class="slide d-none col-md-4 d-md-block " id="slide-left">
                        <div class="slide-holder">
                            <img src='{{Ctrl.pictures[Ctrl.leftPicture].path}}'/>
                        </div>
                    </div>

                    <div class="slide col-8 col-md-4 " id="slide-center">
                        <div class="slide-holder">
                             <img src='{{Ctrl.pictures[Ctrl.centerPicture].path}}'/>
                        </div>
                    </div>

                    <div class="slide d-none col-md-4 d-md-block align-items-center" id="slide-right">
                        <div class="slide-holder">
                            <img src='{{Ctrl.pictures[Ctrl.rightPicture].path}}'/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="arrow col-2 " id="right-arrow"><i class="fa fa-arrow-circle-o-right align-middle" ng-click="Ctrl.nextPicture()" ></i></div>

        </div>

    </div>
</section>


<div data-aos="fade-right">  <h1>To proste jak {{Ctrl.centerPicture}}</h1>  </div>

