
<section class="start">

    <div class="container">

        <!-- baner -->

        <div class="row justify-content-center align-items-center">
            <img src="img/banners/baner5.png" class="img-fluid painted-banner mt-1 mb-3">
        </div>

        <!-- zdjecia i opis -->

        <div class="main-home">

            <div class="main-home-section">
                <div class="row">
                    <div class="main-home-photo col-sm-6 p-1"> <img class="img-fluid" src="img/start/main-home-1.jpg" /></div>
                    <div class="main-home-photo col-sm-6 p-1"> <img class="img-fluid" src="img/start/main-home-2.jpg" /></div>
                </div>

                <section class="main-home-description">
                    <h2>Section One</h2>
                    <p class="architect-font">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur
                    </p>
                </section>
            </div>

            <div class="main-home-section">
                <div class="row">
                    <div class="main-home-photo col-sm-6 p-1"> <img class="img-fluid" src="img/start/main-home-3.jpg" /></div>
                    <div class="main-home-photo col-sm-6 p-1"> <img class="img-fluid" src="img/start/main-home-4.jpg" /></div>
                </div>

                <section class="main-home-description">
                    <h2>Section Two</h2>
                    <p class="architect-font">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facereum temporibus. Labs ex, omnis!
                    </p>
                </section>
            </div>

        </div>



        <!-- menu usług -->

        <div class="services-section row mt-5 no-gutters">

            <div class="service-section col-6 col-md-3">
                <div class="service-section-picture mb-1 ml-1" data-aos="fade-down-right" data-aos-offset="150" data-aos-easing="ease-in-sine"><img class="img-fluid" src="img/start/men-tile.png" /></div>
                <div class="main-font service-section-title d-flex align-items-center justify-content-center mb-1 ml-1" data-aos="fade-up-right" data-aos-offset="150" data-aos-easing="ease-in-sine"><a class="nav-link" href="/cennik">Strzyżenie męskie</a></div>
            </div>

            <div class="service-section col-6 col-md-3">
                <div class="main-font service-section-title d-flex align-items-center justify-content-center ml-1" data-aos="fade-down-right" data-aos-offset="150" data-aos-easing="ease-in-sine"><a class="nav-link" href="/perfumy">Perfumy</a></div>
                <div class="service-section-picture mt-1 ml-1" data-aos="fade-up-right" data-aos-offset="150" data-aos-easing="ease-in-sine"> <img class="img-fluid" src="img/start/perfume-tile.png" />  </div>
            </div>

            <div class="service-section col-6 col-md-3">
                <div class="service-section-picture mb-1 ml-1" data-aos="fade-down-left" data-aos-offset="150" data-aos-easing="ease-in-sine">  <img class="img-fluid" src="img/start/product-tile.png" /> </div>
                <div class="main-font service-section-title d-flex align-items-center justify-content-center ml-1 mb-1" data-aos="fade-up-left" data-aos-offset="150" data-aos-easing="ease-in-sine"><a class="nav-link " href="/produkty">Produkty</a></div>
            </div>

            <div class="service-section col-6 col-md-3">
                <div class="main-font service-section-title d-flex align-items-center justify-content-center ml-1" data-aos="fade-down-left" data-aos-offset="150" data-aos-easing="ease-in-sine"><a class="nav-link" ng-href="/cennik">Strzyżenie damskie</a></div>
                <div class="service-section-picture mt-1 ml-1" data-aos="fade-up-left" data-aos-offset="150" data-aos-easing="ease-in-sine">  <img class="img-fluid" src="img/start/women-tile.png" />  </div>
            </div>

        </div>

        <!-- galeria zdjęc -->

        <div class="start-gallery row justify-content-center align-items-center " data-aos="zoom-in-up">

            <div class="arrow col-2 "  id="left-arrow"><i class="fa fa-arrow-circle-o-left float-right" ng-click="Ctrl.prevPicture()"></i></div>

            <div class="slider col-8">

                <div class="row justify-content-center align-items-center">

                    <div class="slide d-none col-md-4 d-md-block " id="slide-left">
                        <div class="slide-holder">
                            <img src='{{Ctrl.pictures[Ctrl.leftPicture].path}}'/>
                        </div>
                    </div>

                    <div class="slide col-8 col-md-4 " id="slide-center">
                        <div class="slide-holder">
                             <img src='{{Ctrl.pictures[Ctrl.centerPicture].path}}'/>
                        </div>
                    </div>

                    <div class="slide d-none col-md-4 d-md-block align-items-center" id="slide-right">
                        <div class="slide-holder">
                            <img src='{{Ctrl.pictures[Ctrl.rightPicture].path}}'/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="arrow col-2 " id="right-arrow"><i class="fa fa-arrow-circle-o-right float-left" ng-click="Ctrl.nextPicture()" ></i></div>

        </div>

    </div>
</section>


