<section class="services">

    <div class="container">

        <header>

            <div ng-show="!authenticated" class="row d-flex justify-content-center align-items-center my-5">
                <i class="fas fa-shopping-basket fa-9x col-12 my-4"></i>
 			    <h2 class="col-8 d-flex justify-content-center align-items-center my-5  architect-font" style="font-size: 3vmax;">Zaloguj się lub zarejestruj aby zobaczyć swój koszyk !</h2>
                <a class="col-6 btn btn-success btn-block m-3" ng-href="/login">Logowanie</a>
                <a class="col-6 btn btn-primary btn-block m-3" ng-href="/rejestracja">Rejestracja</a>
 		    </div>

            <div ng-show="authenticated" class="bucket">

                <div ng-show="Ctrl.anyInBucket()" class="row justify-content-center align-items-center">

                    <div class="col-12 row justify-content-center align-items-center my-5 display-3">Twój koszyk</div>

                        <div class="shopping-cart row d-flex justify-content-center align-items-center my-2" ng-repeat="product in Ctrl.products" ng-init="product.amount=1">

                            <img class="col-2" ng-src='{{product.photo}}'/>
                            <div class="col-4 architect-font">{{product.name}}</div>
                            <div class="col-1 architect-font">{{product.price}} zł</div>
                            <div class="col-2 architect-font">{{product.amount*product.price}} zł</div>
                            <div class="col-1 architect-font">
                                <input type="number" min="1" max="10" value="1" onKeyDown="return false" id='{{product.name}}'>
                            </div>
                            <div class="col-1" ng-click="Ctrl.refresh(product)"><i class="fas fa-sync fa-2x" style="color:slategrey"></i></div>
                            <div class="col-1" ng-click="Ctrl.deleteProduct(product)"><i class="fas fa-times fa-2x" style="color:darkred"></i></div>

                        </div>

                        <div class="shopping-cart row d-flex justify-content-center align-items-center my-2" ng-repeat="perfume in Ctrl.perfumes" ng-init="perfume.amount=1">

                            <img class="col-2" ng-src='{{perfume.photo}}'/>
                            <div class="col-4 architect-font">{{perfume.name}} {{perfume.volume}}ml</div>
                            <div class="col-1 architect-font">{{perfume.price}} zł</div>
                            <div class="col-2 architect-font">{{perfume.amount*perfume.price}} zł</div>
                            <div class="col-1 architect-font">
                                <input type="number" min="1" max="10" value="1" onKeyDown="return false" id='{{perfume.name}}'>
                            </div>
                            <div class="col-1 refresh" ng-click="Ctrl.refresh(perfume)"><i class="fas fa-sync fa-2x"  style="color:slategrey"></i></div>
                            <div class="col-1 delete" ng-click="Ctrl.deletePerfume(perfume)"><i class="fas fa-times fa-2x" style="color:darkred"></i></div>

                        </div>

                        <div class="col-12 summary row d-flex justify-content-end my-2">
                            <div class="col-6 summary-content my-2"> Suma zamówienia: {{Ctrl.checkSummary()}} zł</div>
                            <a class="col-6 btn btn-primary m-3"> Zamawiam </a>
                        </div>

                    <div class="shopping-summary col-6">


                    </div>

                </div>

                <div ng-show="!Ctrl.anyInBucket()" class="empty-bucket row d-flex justify-content-center align-items-center my-5">

                    <i class="fas fa-cart-arrow-down fa-7x my-5 col-10 d-flex justify-content-center"></i>
                    <h2 class="architect-font my-4 col-10 d-flex justify-content-center">Twój koszyk jest pusty.</h2>
                    <p class="architect-font my-4 col-10 d-flex justify-content-center">Dodaj do niego produkty, aby móc rozpocząć składanie zamówienia.</p>
                    <a class="btn btn-primary col-5 mx-1" ng-href="/perfumy">Perfumy</a>
                    <a class="btn btn-primary col-5 mx-1"  ng-href="/produkty">Produkty</a>


                </div>


            </div>

        </header>

    </div>

</section>
